<template>
    <div>
        <div v-if="isActive == true">tesst 1</div>
        <div v-else>tesst 2</div>
        <div>{{ message }}</div>
        <button v-on:click="isActive = !isActive">click 1</button>
        <div class="elseif">
          <div v-if="number == 1">Số 1</div>
          <div v-else-if="number == 2">Số 2</div>
          <div v-else>Số 3</div>
          <button v-on:click="getNumber(1)">Nút 1</button>
          <button v-on:click="getNumber(2)">Nút 2</button>
          <button v-on:click="getNumber(3)">Nút 3</button>
        </div>
        <div class="for">
          <div>Ten cua: </div>
          <ul>
            <li v-for="(name,index) in names">{{ name.index }} - {{ name.name }}</li>
          </ul>
        </div>
    </div>
</template>
<script>
export default {
  data() {
    return {
      message: "Doan test 1",
      isActive: true,
      number: 1,
      names: [
        { name: 'uthn' },
        { name: 'uthien' },
        { name: 'utth' },
      ]
    }
  },
  methods: {
    getNumber(number) {
      console.log(number)
      this.number = number
    }
  }
};
</script>
<style></style>
