/* @font-face {
  font-family: SourceSansPro;
  src: url(SourceSansPro-Regular.ttf);
} */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #0087C3;
  text-decoration: none;
}

body {
  position: relative;
  margin: 0 auto; 
  color: black;
  background: #FFFFFF; 
  font-family: Arial, sans-serif; 
  font-size: 10.5pt; 
  font-family: SourceSansPro;
}

header {
  padding: 0 0 7pt 0;
  margin-bottom: 2pt;
  border-bottom: 2pt solid #ae4a00;
}

#logo {
  float: right;
  text-align: right;
  /* margin-top: 6pt; */
}

#logo img {
  height: 52.5pt;
  padding-right: 12pt;
}

#company {
  text-align: left;
  font-size: 8pt;
  padding-left: 12pt;
}


#details {
  font-size: 9pt;
  color: black;
  margin-bottom: 8pt;
}

#client {
  /* padding-left: 4.5pt; */
  /* border-left: 4.5pt solid #0087C3; */
  text-align: center;
}

.quotation-info-title {
  font-size: 13.5pt;
  font-weight: bold;
  color: red;
}

.quotation-info-user-info {
  margin-left: 8%;
}

.table {
  width: 100%;
  color: #212529;
  background-color: transparent;
  border-collapse: collapse;
  font-size: 8pt;
}

.table:not(.table-dark) {
  color: inherit;
}
.table-responsive > .table-bordered {
  border: 0;
}

.table-bordered thead td, .table-bordered thead th {
  border-bottom-width: 1.5pt;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: .5pt solid black;
}

.table td, .table th {
  padding: 13pt;
  vertical-align: middle !important;
}

.text-center {
  text-align: center !important;
}

.table-bordered td, .table-bordered th {
  border: 0.5pt solid black;
}

.bg-table-cyal {
  background: #A9CBEC;
}

#text-amount {
  margin-bottom: 7pt;
  font-size: 8pt;
}

#notices .notice {
  font-size: 9pt;
  font-weight: bold;
  margin-bottom: 7pt;
}

#signature {
  margin-top: 20pt;
  font-size: 9pt;
  width: 50%;
  text-align: center;
  float: right;
}

.position-img {
  margin-top: 18pt;
}

footer {
  color: #777777;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #AAAAAA;
  padding: 8px 0;
  text-align: center;
}

